In [1]:
# !pip uninstall numpy

In [2]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\nb\anaconda3\lib\site-packages (2.1.3)

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\nb\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\nb\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nb\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\nb\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nb\anaconda3\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\nb\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.3 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\NB\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\Users\NB\anaconda3\Lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
    app.start()
  File "C:\Users\NB\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 711, in start
    self.io_loop.start()
  File "C:\Users\NB\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 215, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\NB\anaconda3\Lib\asyncio\base_events.py", line 607, in run_forever
    self._run_once()
  File "C:\Users\NB\anaconda3\Lib\asyncio\base_events.py", line 1922, in _run_once
    handle._run()
  File "C:\Users\NB\anaconda3\Lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\NB\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 510, in dispatch_queue
    await self.process_one()
  File "C:\Users\NB\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 499, in process_one
    await dispatch(*args)
  File "C:\Users\NB\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 406, in dispatch_shell
    await result
  File "C:\Users\NB\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 729, in execute_request
    reply_content = await reply_content
  File "C:\Users\NB\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 411, in do_execute
    res = shell.run_cell(
  File "C:\Users\NB\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 531, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\NB\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3006, in run_cell
    result = self._run_cell(
  File "C:\Users\NB\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3061, in _run_cell
    result = runner(coro)
  File "C:\Users\NB\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\NB\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3266, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\NB\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3445, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\NB\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3505, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\NB\AppData\Local\Temp\ipykernel_8000\3381811058.py", line 2, in <module>
    import matplotlib.pyplot as plt
  File "C:\Users\NB\anaconda3\Lib\site-packages\matplotlib\__init__.py", line 159, in <module>
    from . import _api, _version, cbook, _docstring, rcsetup
  File "C:\Users\NB\anaconda3\Lib\site-packages\matplotlib\rcsetup.py", line 28, in <module>
    from matplotlib.colors import Colormap, is_color_like
  File "C:\Users\NB\anaconda3\Lib\site-packages\matplotlib\colors.py", line 57, in <module>
    from matplotlib import _api, _cm, cbook, scale
  File "C:\Users\NB\anaconda3\Lib\site-packages\matplotlib\scale.py", line 22, in <module>
    from matplotlib.ticker import (
  File "C:\Users\NB\anaconda3\Lib\site-packages\matplotlib\ticker.py", line 144, in <module>
    from matplotlib import transforms as mtransforms
  File "C:\Users\NB\anaconda3\Lib\site-packages\matplotlib\transforms.py", line 49, in <module>
    from matplotlib._path import (

AttributeError: _ARRAY_API not found

ImportError: numpy.core.multiarray failed to import

In [20]:
df = pd.read_csv("./data/commodity_trade_statistics_data.csv")

C:\Users\NB\AppData\Local\Temp\ipykernel_8000\2368300368.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./data/commodity_trade_statistics_data.csv")

In [21]:
df

,country_or_area,year,comm_code,commodity,flow,trade_usd,weight_kg,quantity_name,quantity,category
0,Afghanistan,2016,10410,"Sheep, live",Export,6088,2339.0,Number of items,51.0,01_live_animals
1,Afghanistan,2016,10420,"Goats, live",Export,3958,984.0,Number of items,53.0,01_live_animals
2,Afghanistan,2008,10210,"Bovine animals, live pure-bred breeding",Import,1026804,272.0,Number of items,3769.0,01_live_animals
3,Albania,2016,10290,"Bovine animals, live, except pure-bred breeding",Import,2414533,1114023.0,Number of items,6853.0,01_live_animals
4,Albania,2016,10392,"Swine, live except pure-bred breeding > 50 kg",Import,14265937,9484953.0,Number of items,96040.0,01_live_animals
...,...,...,...,...,...,...,...,...,...,...
8225866,Zimbabwe,2001,TOTAL,ALL COMMODITIES,Export,1206807424,NaN,No Quantity,NaN,all_commodities
8225867,Zimbabwe,2001,TOTAL,ALL COMMODITIES,Re-Export,15943977,NaN,No Quantity,NaN,all_commodities
8225868,Zimbabwe,2000,TOTAL,ALL COMMODITIES,Export,1924962432,NaN,No Quantity,NaN,all_commodities
8225869,Zimbabwe,1995,TOTAL,ALL COMMODITIES,Import,2658853376,NaN,No Quantity,NaN,all_commodities
8225870,Zimbabwe,1995,TOTAL,ALL COMMODITIES,Export,1845905792,NaN,No Quantity,NaN,all_commodities

In [22]:
df.head()

,country_or_area,year,comm_code,commodity,flow,trade_usd,weight_kg,quantity_name,quantity,category
0,Afghanistan,2016,10410,"Sheep, live",Export,6088,2339.0,Number of items,51.0,01_live_animals
1,Afghanistan,2016,10420,"Goats, live",Export,3958,984.0,Number of items,53.0,01_live_animals
2,Afghanistan,2008,10210,"Bovine animals, live pure-bred breeding",Import,1026804,272.0,Number of items,3769.0,01_live_animals
3,Albania,2016,10290,"Bovine animals, live, except pure-bred breeding",Import,2414533,1114023.0,Number of items,6853.0,01_live_animals
4,Albania,2016,10392,"Swine, live except pure-bred breeding > 50 kg",Import,14265937,9484953.0,Number of items,96040.0,01_live_animals

In [23]:
df.isna().sum()

country_or_area         0
year                    0
comm_code               0
commodity               0
flow                    0
trade_usd               0
weight_kg          128475
quantity_name           0
quantity           304857
category                0
dtype: int64

In [24]:
for i in df:
    print("++++++++++++++++++++++++++++++++++++++++++++++++Column ",i,"+++++++++++++++++++++++++++++++++++++++++++++++++++")
    print(df[i].unique())
    print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")
    print()

++++++++++++++++++++++++++++++++++++++++++++++++Column  country_or_area +++++++++++++++++++++++++++++++++++++++++++++++++++
['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Anguilla'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belgium-Luxembourg' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bolivia (Plurinational State of)' 'Bosnia Herzegovina' 'Botswana'
 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi'
 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Central African Rep.' 'Chad'
 'Chile' 'China' 'China, Hong Kong SAR' 'China, Macao SAR' 'Colombia'
 'Comoros' 'Congo' 'Cook Isds' 'Costa Rica' "Côte d'Ivoire" 'Croatia'
 'Cuba' 'Cyprus' 'Czech Rep.' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Rep.' 'Ecuador' 'Egypt' 'El Salvador' 'Eritrea' 'Estonia'
 'Ethiopia' 'EU-28' 'Faeroe Isds' 'Fiji' 'Finland'
 'Fmr Fed. Rep. of Germany' 'Fmr Sudan' 'France' 'French Guiana'
 'French Polynesia' 'FS Micronesia' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan'
 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Dem. Rep." 'Latvia' 'Lebanon' 'Lesotho' 'Libya' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Martinique' 'Mauritania' 'Mauritius' 'Mayotte' 'Mexico' 'Mongolia'
 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia'
 'Nepal' 'Neth. Antilles' 'Netherlands' 'New Caledonia' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Norway' 'Oman' 'Other Asia, nes'
 'Pakistan' 'Palau' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Rep. of Korea'
 'Rep. of Moldova' 'Réunion' 'Romania' 'Russian Federation' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Serbia and Montenegro' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Slovakia' 'Slovenia' 'So. African Customs Union' 'Solomon Isds'
 'South Africa' 'Spain' 'Sri Lanka' 'State of Palestine' 'Sudan'
 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'TFYR of Macedonia'
 'Thailand' 'Timor-Leste' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'Turkey' 'Turkmenistan' 'Turks and Caicos Isds' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United Rep. of Tanzania'
 'Uruguay' 'USA' 'Vanuatu' 'Venezuela' 'Viet Nam' 'Wallis and Futuna Isds'
 'Yemen' 'Zambia' 'Zimbabwe' 'Tuvalu' 'Cayman Isds' 'Tajikistan']
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++Column  year +++++++++++++++++++++++++++++++++++++++++++++++++++
[2016 2008 2015 2014 2013 2012 2011 2010 2009 2007 2006 2005 2004 2003
 2002 2001 2000 1999 1998 1997 1996 1995 1994 1993 1992 1991 1990 1989
 1988]
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++Column  comm_code +++++++++++++++++++++++++++++++++++++++++++++++++++
[10410 10420 10210 ... '999999' '9999AA' 'TOTAL']
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++Column  commodity +++++++++++++++++++++++++++++++++++++++++++++++++++
['Sheep, live' 'Goats, live' 'Bovine animals, live pure-bred breeding' ...
 'Collections and collectors pieces'
 'Commodities not specified according to kind' 'ALL COMMODITIES']
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++Column  flow +++++++++++++++++++++++++++++++++++++++++++++++++++
['Export' 'Import' 'Re-Export' 'Re-Import']
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++Column  trade_usd +++++++++++++++++++++++++++++++++++++++++++++++++++
[      6088       3958    1026804 ... 1924962432 2658853376 1845905792]
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++Column  weight_kg +++++++++++++++++++++++++++++++++++++++++++++++++++
[2.3390000e+03 9.8400000e+02 2.7200000e+02 ... 9.3878272e+07 1.9721690e+06
 1.6902310e+06]
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++Column  quantity_name +++++++++++++++++++++++++++++++++++++++++++++++++++
['Number of items' 'No Quantity' 'Weight in kilograms' 'Volume in litres'
 'Length in metres' 'Area in square metres'
 'Electrical energy in thousands of kilowatt-hours'
 'Volume in cubic meters' 'Number of pairs' 'Thousands of items'
 'Weight in carats' 'Number of packages']
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++Column  quantity +++++++++++++++++++++++++++++++++++++++++++++++++++
[5.100000e+01 5.300000e+01 3.769000e+03 ... 1.972169e+06 3.063260e+05
 1.690231e+06]
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++Column  category +++++++++++++++++++++++++++++++++++++++++++++++++++
['01_live_animals' '02_meat_and_edible_meat_offal'
 '03_fish_crustaceans_molluscs_aquatic_invertebrates_ne'
 '04_dairy_products_eggs_honey_edible_animal_product_nes'
 '05_products_of_animal_origin_nes'
 '06_live_trees_plants_bulbs_roots_cut_flowers_etc'
 '07_edible_vegetables_and_certain_roots_and_tubers'
 '08_edible_fruit_nuts_peel_of_citrus_fruit_melons'
 '09_coffee_tea_mate_and_spices' '10_cereals'
 '11_milling_products_malt_starches_inulin_wheat_glute'
 '12_oil_seed_oleagic_fruits_grain_seed_fruit_etc_ne'
 '13_lac_gums_resins_vegetable_saps_and_extracts_nes'
 '14_vegetable_plaiting_materials_vegetable_products_nes'
 '15_animal_vegetable_fats_and_oils_cleavage_products_et'
 '16_meat_fish_and_seafood_food_preparations_nes'
 '17_sugars_and_sugar_confectionery' '18_cocoa_and_cocoa_preparations'
 '19_cereal_flour_starch_milk_preparations_and_products'
 '20_vegetable_fruit_nut_etc_food_preparations'
 '21_miscellaneous_edible_preparations' '22_beverages_spirits_and_vinegar'
 '23_residues_wastes_of_food_industry_animal_fodder'
 '24_tobacco_and_manufactured_tobacco_substitutes'
 '25_salt_sulphur_earth_stone_plaster_lime_and_cement'
 '26_ores_slag_and_ash' '27_mineral_fuels_oils_distillation_products_etc'
 '28_inorganic_chemicals_precious_metal_compound_isotope'
 '29_organic_chemicals' '30_pharmaceutical_products' '31_fertilizers'
 '32_tanning_dyeing_extracts_tannins_derivs_pigments_et'
 '33_essential_oils_perfumes_cosmetics_toileteries'
 '34_soaps_lubricants_waxes_candles_modelling_pastes'
 '35_albuminoids_modified_starches_glues_enzymes'
 '36_explosives_pyrotechnics_matches_pyrophorics_etc'
 '37_photographic_or_cinematographic_goods'
 '38_miscellaneous_chemical_products' '39_plastics_and_articles_thereof'
 '40_rubber_and_articles_thereof'
 '41_raw_hides_and_skins_other_than_furskins_and_leather'
 '42_articles_of_leather_animal_gut_harness_travel_good'
 '43_furskins_and_artificial_fur_manufactures_thereof'
 '44_wood_and_articles_of_wood_wood_charcoal'
 '45_cork_and_articles_of_cork'
 '46_manufactures_of_plaiting_material_basketwork_etc'
 '47_pulp_of_wood_fibrous_cellulosic_material_waste_etc'
 '48_paper_paperboard_articles_of_pulp_paper_and_board'
 '49_printed_books_newspapers_pictures_etc' '50_silk'
 '51_wool_animal_hair_horsehair_yarn_and_fabric_thereof' '52_cotton'
 '53_vegetable_textile_fibres_nes_paper_yarn_woven_fabri'
 '54_manmade_filaments' '55_manmade_staple_fibres'
 '56_wadding_felt_nonwovens_yarns_twine_cordage_etc'
 '57_carpets_and_other_textile_floor_coverings'
 '58_special_woven_or_tufted_fabric_lace_tapestry_etc'
 '59_impregnated_coated_or_laminated_textile_fabric'
 '60_knitted_or_crocheted_fabric'
 '61_articles_of_apparel_accessories_knit_or_crochet'
 '62_articles_of_apparel_accessories_not_knit_or_crochet'
 '63_other_made_textile_articles_sets_worn_clothing_etc'
 '64_footwear_gaiters_and_the_like_parts_thereof'
 '65_headgear_and_parts_thereof'
 '66_umbrellas_walking_sticks_seat_sticks_whips_etc'
 '67_bird_skin_feathers_artificial_flowers_human_hair'
 '68_stone_plaster_cement_asbestos_mica_etc_articles'
 '69_ceramic_products' '70_glass_and_glassware'
 '71_pearls_precious_stones_metals_coins_etc' '72_iron_and_steel'
 '73_articles_of_iron_or_steel' '74_copper_and_articles_thereof'
 '75_nickel_and_articles_thereof' '76_aluminium_and_articles_thereof'
 '78_lead_and_articles_thereof' '79_zinc_and_articles_thereof'
 '80_tin_and_articles_thereof'
 '81_other_base_metals_cermets_articles_thereof'
 '82_tools_implements_cutlery_etc_of_base_metal'
 '83_miscellaneous_articles_of_base_metal'
 '84_nuclear_reactors_boilers_machinery_etc'
 '85_electrical_electronic_equipment'
 '86_railway_tramway_locomotives_rolling_stock_equipmen'
 '87_vehicles_other_than_railway_tramway'
 '88_aircraft_spacecraft_and_parts_thereof'
 '89_ships_boats_and_other_floating_structures'
 '90_optical_photo_technical_medical_etc_apparatus'
 '91_clocks_and_watches_and_parts_thereof'
 '92_musical_instruments_parts_and_accessories'
 '93_arms_and_ammunition_parts_and_accessories_thereof'
 '94_furniture_lighting_signs_prefabricated_buildings'
 '95_toys_games_sports_requisites'
 '96_miscellaneous_manufactured_articles'
 '97_works_of_art_collectors_pieces_and_antiques'
 '99_commodities_not_specified_according_to_kind' 'all_commodities']
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [25]:
for i in df:
    print("++++++++++++++++++++++++++++++++++++++++++++++++Column ",i,"+++++++++++++++++++++++++++++++++++++++++++++++++++")
    print(df[i].value_counts())
    print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")
    print()

++++++++++++++++++++++++++++++++++++++++++++++++Column  country_or_area +++++++++++++++++++++++++++++++++++++++++++++++++++
country_or_area
Australia       307627
Canada          216293
Argentina       201738
Brazil          184830
Austria         180838
                 ...
Tuvalu             638
Turkmenistan       519
Iraq               455
Cayman Isds          4
Tajikistan           2
Name: count, Length: 209, dtype: int64
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++Column  year +++++++++++++++++++++++++++++++++++++++++++++++++++
year
2006    378177
2012    377526
2011    374784
2007    374492
2009    374126
2010    373977
2013    371122
2005    369366
2014    364636
2008    363777
2004    362432
2015    359240
2003    358746
2001    347685
2002    346480
2000    346067
1999    309716
1998    291643
2016    289653
1997    281103
1996    252395
1995    233399
1994    198220
1993    154742
1992    121214
1991     83951
1990     72272
1989     63933
1988     30997
Name: count, dtype: int64
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++Column  comm_code +++++++++++++++++++++++++++++++++++++++++++++++++++
comm_code
TOTAL     9185
210690    8048
170490    7764
210390    7693
240220    7620
          ...
843062      25
290521      18
846939      10
846929      10
720140      10
Name: count, Length: 5047, dtype: int64
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++Column  commodity +++++++++++++++++++++++++++++++++++++++++++++++++++
commodity
ALL COMMODITIES                                          9185
Food preparations nes                                    8048
Sugar confectionery not chewing gum, no cocoa content    7764
Sauces nes, mixed condiments, mixed seasoning            7693
Cigarettes containing tobacco                            7620
                                                         ...
Scrapers, not self-propelled                               25
Allyl alcohol                                              18
Typewriters, non-electric < 12 kg                          10
Typewriters, electric, < 12 kg, non-automatic              10
Spiegeleisen in primary forms                              10
Name: count, Length: 5031, dtype: int64
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++Column  flow +++++++++++++++++++++++++++++++++++++++++++++++++++
flow
Import       4848524
Export       2856309
Re-Export     367263
Re-Import     153775
Name: count, dtype: int64
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++Column  trade_usd +++++++++++++++++++++++++++++++++++++++++++++++++++
trade_usd
1             5809
10            5519
1000          4958
100           4868
20            4720
              ...
1206807424       1
15943977         1
1924962432       1
2658853376       1
392835268        1
Name: count, Length: 3062165, dtype: int64
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++Column  weight_kg +++++++++++++++++++++++++++++++++++++++++++++++++++
weight_kg
0.0            351565
1.0             55741
2.0             35875
3.0             28639
10.0            25902
                ...
358588.0            1
133960032.0         1
93878272.0          1
1972169.0           1
531212511.0         1
Name: count, Length: 2137907, dtype: int64
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++Column  quantity_name +++++++++++++++++++++++++++++++++++++++++++++++++++
quantity_name
Weight in kilograms                                 6617980
Number of items                                      709321
No Quantity                                          505176
Volume in litres                                     144599
Area in square metres                                135912
Number of pairs                                       67929
Length in metres                                      18225
Volume in cubic meters                                17775
Weight in carats                                       5237
Thousands of items                                     1386
Electrical energy in thousands of kilowatt-hours       1264
Number of packages                                     1067
Name: count, dtype: int64
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++Column  quantity +++++++++++++++++++++++++++++++++++++++++++++++++++
quantity
0.0            227853
1.0             76874
2.0             47925
3.0             36359
4.0             28570
                ...
4641445.0           1
136514678.0         1
64391466.0          1
202951795.0         1
95520727.0          1
Name: count, Length: 2124833, dtype: int64
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

++++++++++++++++++++++++++++++++++++++++++++++++Column  category +++++++++++++++++++++++++++++++++++++++++++++++++++
category
02_meat_and_edible_meat_offal                             100000
03_fish_crustaceans_molluscs_aquatic_invertebrates_ne     100000
31_fertilizers                                            100000
04_dairy_products_eggs_honey_edible_animal_product_nes    100000
08_edible_fruit_nuts_peel_of_citrus_fruit_melons          100000
                                                           ...
45_cork_and_articles_of_cork                               31446
14_vegetable_plaiting_materials_vegetable_products_nes     30179
80_tin_and_articles_thereof                                29328
all_commodities                                             9185
99_commodities_not_specified_according_to_kind              7024
Name: count, Length: 98, dtype: int64
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [26]:
df.rename(columns = {'country_or_area':'country'}, inplace = True)
df.drop(df[df['category'] == 'all_commodities'].index, inplace = True)
df.drop(df[df['category'] == '99_commodities_not_specified_according_to_kind'].index, inplace = True)
df.drop(df[df['country'] == 'EU-28'].index, inplace = True)

In [27]:
df['trade_usd']=(df['trade_usd']/1000000).round(2)
df.head()

,country,year,comm_code,commodity,flow,trade_usd,weight_kg,quantity_name,quantity,category
0,Afghanistan,2016,10410,"Sheep, live",Export,0.01,2339.0,Number of items,51.0,01_live_animals
1,Afghanistan,2016,10420,"Goats, live",Export,0.00,984.0,Number of items,53.0,01_live_animals
2,Afghanistan,2008,10210,"Bovine animals, live pure-bred breeding",Import,1.03,272.0,Number of items,3769.0,01_live_animals
3,Albania,2016,10290,"Bovine animals, live, except pure-bred breeding",Import,2.41,1114023.0,Number of items,6853.0,01_live_animals
4,Albania,2016,10392,"Swine, live except pure-bred breeding > 50 kg",Import,14.27,9484953.0,Number of items,96040.0,01_live_animals

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8139480 entries, 0 to 8209661
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   country        object
 1   year           int64
 2   comm_code      object
 3   commodity      object
 4   flow           object
 5   trade_usd      float64
 6   weight_kg      float64
 7   quantity_name  object
 8   quantity       float64
 9   category       object
dtypes: float64(3), int64(1), object(6)
memory usage: 683.1+ MB

<hr>

In [29]:
df.isna().sum()

country               0
year                  0
comm_code             0
commodity             0
flow                  0
trade_usd             0
weight_kg        113863
quantity_name         0
quantity         288850
category              0
dtype: int64

In [30]:
df['weight_kg'].fillna(df['weight_kg'].mean(), inplace=True)
df['quantity'].fillna(df['quantity'].mean(), inplace=True)

C:\Users\NB\AppData\Local\Temp\ipykernel_8000\1596227654.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['weight_kg'].fillna(df['weight_kg'].mean(), inplace=True)
C:\Users\NB\AppData\Local\Temp\ipykernel_8000\1596227654.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['quantity'].fillna(df['quantity'].mean(), inplace=True)

In [31]:
df.isna().sum()

country          0
year             0
comm_code        0
commodity        0
flow             0
trade_usd        0
weight_kg        0
quantity_name    0
quantity         0
category         0
dtype: int64

In [33]:
for i in df.select_dtypes(include=['int64','float64']):
    print("++++++++++++++++++++++++++++++++++++++++++++++++Column ",i,"+++++++++++++++++++++++++++++++++++++++++++++++++++")
    plt.figure(figsize=(8, 5))
    sns.boxplot(data=df, y=i, color='skyblue')
    plt.title(f'Box and Whisker Plot for {column}', fontsize=14)
    plt.ylabel(column, fontsize=12)
    plt.xlabel('')  # No x-label as it's not needed for single-variable plots
    plt.show()
    print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")
    print()

++++++++++++++++++++++++++++++++++++++++++++++++Column  year +++++++++++++++++++++++++++++++++++++++++++++++++++

NameError: name 'plt' is not defined